<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Eco-conscious Crafts. <strong> Bringing upcycled home accessories </strong>to <strong> those wanting a greener lifestyle </strong>!</h1>
    <p> Our stylish, eco-friendly products blend craftsmanship and art, making for a truly unique range.</p>
    <a class="btn btn-flat" href="#">Browse our products</a>
<%= link_to "Browse Products", "categories_path", class: "btn btn-gradient" %>
  </div>
</div>
