<div class="second">


  <div class="pp">

    <h1>Thank you <%= @buyer.name %>! </h1>

  </div>
<div class="row" style="">
  <div class="col-sm-6">

  <h5>Our banking details:</h5>

      <ul>
        <li>
          ECO CONSCIOUS CRAFTS
        </li>
        <li>
          FNB (FIRST NATIONAL BANK)
        </li>
        <li>
          BUSINESS CHEQUE ACCOUNT #645498785154
        </li>
        <li>
          BRANCH: BEDFORDVIEW
        </li>
        <li>
          REFERENCE: YOUR ORDER NUMBER
        </li>
      </ul>



  </div>
</div>
  <div class="row">

    <div class="col-sm-4">
  <h6>Your order has been confirmed </h6>
  <p>Thank you, we've recieved your order and it will be confirmed and processed upon reciept of payment</p>
  <p> Please send your proof of payment to:</p>
  <p>danjardine@gmail.com</p>
  <p>In the meantime, we'll hold your order for three days. remember that you have selected to pay by EFT (bank transfer) or by cash deposit an an FNB ATM.</p>
  <p>Please call us on 0798877764 for further inquiries about your order.</p>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-6">



    </div>
  </div>




</div>

