<div class="container d-flex justify-content-center" >

    <div class="lobbies" id="lobby">
      <% @categories.each do |category| %>
      <%= render 'shared/catcard', category: category %>
      <% end %>
    </div>


</div>
    <div>
  <%= link_to "Go Back", categories_path, class: "btn btn-gradient" %>
    </div>
